# Copy this file to .env and set real values locally.
# Never commit the .env file.

ADMIN_METRIC_EMAIL=pini.mari+10@bio-beat.com
ADMIN_METRIC_PASSWORD=Pinimari!1

EXPIRED_USER_EMAIL=pini.mari+10@bio-beat.com
EXPIRED_USER_PASSWORD=Pinimari!1
EXPIRED_USER_VERIFICATION_CODE=
EXPIRED_USER_USED_PASSWORD=

USED_DEVICE_ID=
USED_DEVICE_ID_ERROR=Device ID already exists
INACTIVE_DEVICE_ID=130646
INACTIVE_DEVICE_ID_ERROR=Device is not activated or does not exist.
